<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Castellani | Aluminio </title>
  <meta name="description" content="Web index Castellani Vidrios">
  <meta name="author" content="Castellani Vidrios">

  <!-- Favicons -->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="css/aos/aos.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="css/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="css/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="css/remixicon/remixicon.css" rel="stylesheet">
  <link href="css/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/stilosindex2.css" rel="stylesheet">


</head>

<body>
  <!-- ======= NAVBAR ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">Castellani</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Inicio</a></li>
          <li><a class="nav-link scrollto" href="/">Nosotros</a></li>
          <li class="dropdown"><a href="/vidrios">Vidrios</a>
            <ul>
              <li><a href="/dvh">DVH</a></li>
            </ul>
          </li>
          <li class="dropdown"><a>Perfileria</a>
            <ul>
              <li><a class="nav-link scrollto active" href="/Aluminio">Aluminio</a></li>
              <li><a class="nav-link scrollto" href="/Pvc">PVC</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/">Obras</a></li>
          <li><a class="nav-link scrollto" href="/contacto">Contacto</a></li>
          <li><a class="getstarted scrollto" href="/login">Usuarios</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
  <!-- ======= FIN NAVBAR ======= -->
  <section id="hero" class="d-flex align-items-center">


    <div class="imagen">
      <img src="https://www.hydro.com/globalassets/01-products--services/building-systems/argentina/img_0796final.jpg"
        alt="Banner">
    </div>
    <img class="image1" src=".\img\index2\clients\client-1.png" alt="Aluar">
    <img class="image2" src=".\img\index2\clients\client-2.png" width="20%" alt="Hydro">

  </section>

  <!-- Comiendo Main -->
  <main id="main">
    <hr size="9px" width="72%">
    <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="section-title">
          <h2>LINEA HYDRO</h2>
          <p style="font-size: larger">
            Las aberturas de aluminio reúnen diseño y funcionalidad, para las más diversas opciones creadas con la más
            alta
            tecnología. Nuestros productos ofrecen las ventajas inmejorables del aluminio: estabilidad, durabilidad,
            fácil mantenimiento y
            un alto grado de aislamiento gracias a nuestros burletes y felpas.
          </p>
        </div>

        <div class="row portfolio-container">
          <!-- 1 VICENTE LOPEZ -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app text-center" style="padding-left: inherit;">
            <div class="portfolio-img"><img
                src="https://www.hydro.com/globalassets/01-products--services/building-systems/argentina/0115.jpg"
                class="img-fluid" alt=""></div>
            <a href="https://www.hydro.com/globalassets/01-products--services/building-systems/argentina/0115.jpg"
              data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Edificio 2"><iconify-icon
                icon="line-md:image-twotone" width="30" height="30"></iconify-icon>
            </a>
            <h4>
              <p> <b> <br> HA 110 </b> </p>
            </h4>
          </div>



          <div class="col-lg-4 col-md-6 portfolio-item filter-web text-center"
            style="background-color: rgba(105, 105, 105, 0.205);padding-left: inherit;">
            <div class="portfolio-img"><img
                src="https://www.hydro.com/globalassets/01-products--services/building-systems/argentina/img_4956.jpg"
                style="width: 91%;" class="img-fluid" alt=""></div>
            <a href="https://www.hydro.com/globalassets/01-products--services/building-systems/argentina/img_4956.jpg"
              style="width: 91%;" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"
              title="EL PUNTO - SAN LORENZO CHICO"><iconify-icon icon="line-md:image-twotone" width="30"
                height="30"></iconify-icon></a>
            <h4>
              <p> <b> <br> HA 62 </b> </p>
            </h4>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-app text-center" style="padding-left: inherit;">
            <div class="portfolio-img"><img
                src="https://www.hydro.com/globalassets/01-products--services/building-systems/argentina/img_5170encuadre.jpg"
                style="width: 89%;" class="img-fluid" alt=""></div>
            <a href="https://www.hydro.com/globalassets/01-products--services/building-systems/argentina/img_5170encuadre.jpg"
              style="width:89%" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"
              title="Edificio 2"><iconify-icon icon="line-md:image-twotone" width="30" height="30"></iconify-icon></a>
            <h4>
              <p> <b> <br> HA BARANDA BALCON </b> </p>
            </h4>

          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app text-center"
            style="background-color: rgba(105, 105, 105, 0.205);padding-left: inherit;">
            <div class="portfolio-img"><img
                src="https://www.hydro.com/globalassets/01-products--services/building-systems/argentina/_dsc4556.jpg"
                class="img-fluid" alt=""></div>
            <a href="https://www.hydro.com/globalassets/01-products--services/building-systems/argentina/_dsc4556.jpg"
              data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Edificio 2"><iconify-icon
                icon="line-md:image-twotone" width="30" height="30"></iconify-icon></a>
            <h4>
              <p> <b> <br> ROTONDA 700 </b> </p>
            </h4>

          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app text-center" style="padding-left: inherit;">
            <div class="portfolio-img"><img
                src="https://www.hydro.com/globalassets/01-products--services/building-systems/argentina/img_7860final.jpg"
                style="width: 100%;" class="img-fluid" alt=""></div>
            <a href="https://www.hydro.com/globalassets/01-products--services/building-systems/argentina/img_7860final.jpg"
              style="width:100%" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"
              title="Edificio 2"><iconify-icon icon="line-md:image-twotone" width="30" height="30"></iconify-icon></a>
            <h4>
              <p> <b> <br> ROTONDA 640 </b> </p>
            </h4>

          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app text-center"
            style="background-color: rgba(105, 105, 105, 0.205);padding-left: inherit;">
            <div class="portfolio-img"><img src="https://i.imgur.com/OhkzJgf.jpg" style="width: 89%;" class="img-fluid"
                alt=""></div>
            <a href="https://i.imgur.com/OhkzJgf.jpg" style="width:100%" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Edificio 2"><iconify-icon icon="line-md:image-twotone"
                width="30" height="30"></iconify-icon></a>
            <h4>
              <p> <b> <br> ROTONDA 750 </b> </p>
            </h4>

          </div>
        </div>
    </section>
    <!-- Fin linea Hydro -->

    <!-- Comienzo Aluar -->
    <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="section-title">
          <h2>LINEA ALUAR</h2>
          <p style="font-size: larger">
            Las aberturas de aluminio reúnen diseño y funcionalidad, para las más diversas opciones creadas con la más
            alta
            tecnología. Nuestros productos ofrecen las ventajas inmejorables del aluminio: estabilidad, durabilidad,
            fácil mantenimiento y
            un alto grado de aislamiento gracias a nuestros burletes y felpas.
          </p>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-6 col-md-6 portfolio-item filter-app text-center"
            style="background-color: rgba(105, 105, 105, 0.205);padding-left: inherit;">
            <div class="portfolio-img"><img src="https://ralaluminio.com.ar/wp-content/uploads/2018/09/vent2.1.jpg"
                class="img-fluid" alt=""></div>
            <a href="https://ralaluminio.com.ar/wp-content/uploads/2018/09/vent2.1.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Edificio 2"><iconify-icon icon="line-md:image-twotone"
                width="30" height="30"></iconify-icon>
            </a>
            <h4>
              <p> <b> <br> SISTEMA MODENA </b> </p>
            </h4>
          </div>



          <div class="col-lg-6 col-md-6 portfolio-item filter-web text-center"
            style="background-color: rgba(105, 105, 105, 0.205);padding-left: inherit;">
            <div class="portfolio-img"><img
                src="https://aberturasabraham.com.ar/images/portfolio/aberturas_abraham_residencia_aluar_a30_corrediza.jpg"
                style="width: 98%;" class="img-fluid" alt=""></div>
            <a href="https://aberturasabraham.com.ar/images/portfolio/aberturas_abraham_residencia_aluar_a30_corrediza.jpg"
              style="width: 98%;" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"
              title="EL PUNTO - SAN LORENZO CHICO"><iconify-icon icon="line-md:image-twotone" width="30"
                height="30"></iconify-icon></a>
            <h4>
              <p> <b> <br> SISTEMA A30 NEW </b> </p>
            </h4>
          </div>


        </div>
    </section>


  </main>


  <!-- ======= Footer ======= -->
  <footer id="footer">

    <!-- <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Join Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div> -->

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Castellani</h3>
            <p>
              A4402 La Rioja 465 <br>
              Salta, Capital<br>
              Argentina <br><br>
              <strong>Phone:</strong> +54 0387 - 4234500<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Accesos rapidos</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Acerca de</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Otros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Chat Online</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Redes Sociales</h4>
            <p>Ser una Empresa lider, solida, confiable, con rentabilidad sostenida y en continuo crecimiento en el
              mercado que participamos
              que se distinga por proporcionar una calidad de productos y servicios de excelencia a sus clientes.
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; Copyright
        <strong><span>Castellani</span></strong>. All Rights Reserved
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

        <button><a class="getstarted scrollto" href="/">Trabaja con Nosotros</a></button>
      </div>

      <div class="credits">
        Designed by <a href="https://wa.me/+5493874892669"><b style="    color: #ededede8;">Gianfranco</b></a>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <!-- Vendor JS Files -->
  <script src="css/aos/aos.js"></script>
  <script src="css/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="css/glightbox/js/glightbox.min.js"></script>
  <script src="css/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="css/swiper/swiper-bundle.min.js"></script>
  <script src="css/waypoints/noframework.waypoints.js"></script>
  <script src="css/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>