<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Castellani | DVH</title>
    <meta name="description" content="Web index Castellani Vidrios">
    <meta name="author" content="Castellani Vidrios">
  <!-- Favicons -->
  <link rel="icon" type="image/png" sizes="16x16"  href="img/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="css/aos/aos.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="css/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="css/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="css/remixicon/remixicon.css" rel="stylesheet">
    <link href="css/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="css/stilosindex2.css" rel="stylesheet">

</head>

<body>

     <!-- ======= NAVBAR ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">Castellani</a></h1>
 
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Inicio</a></li>
          <li><a class="nav-link scrollto" href="/">Nosotros</a></li>
          <li><a class="nav-link scrollto" href="/">Obras</a></li>
          <li class="dropdown"><a class="active" href="/vidrios">Vidrios</a>
          <ul>
            <li><a href="/vidrios">Distribucion VASA</a></li>
            <li class="active"><a class="active" href="/dvh">DVH Climanet</a></li>
          </ul>
          </li>

          <li class="dropdown"><a href="#">Perfileria</a>
          <ul>
            <li><a class="nav-link scrollto" href="/Aluminio">Aluminio</a></li>
            <li><a class="nav-link scrollto" href="/pvc">PVC</a></li>
         
          </ul>
          </li>
          
          <li><a class="nav-link scrollto" href="/contacto">Contacto</a></li>
          <li><a class="getstarted scrollto" href="/login">Usuarios</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->
    <main id="main">

        <section id="hero" class="d-flex align-items-center">
            <div class="imagenDVH">
                <img src="https://i.imgur.com/UULsMlJ.jpg"
                    alt="Banner">
            </div>
           
            <img class="logoclimanet" src="https://i.imgur.com/i6wdFqA.png" alt="Climanet">
           </section>

        <hr size="9px" width="72%" color="red">
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>DOBLE VIDRIO HERMÉTICO</h2>
            </div>
            <p style="font-size: larger">
              La Red de procesadores del doble vidrio hermético Climanet produce bajo estrictas normas de aseguramiento de la
              calidad y con materias primas de primera línea, lo que consolida un producto final de alto standard. <br> <br>
              La trayectoria y experiencia acumulada desde 1993 permiten satisfacer los requerimientos más exigentes en arquitectura
              residencial y comercial. Ambos factores posibilitan otorgar una garantía de 10 años a toda la línea de DVH Climanet.
            </p>
            <br>
          </div>
        </section> 

        <section id="cta" class="cta">
            <div class="container" data-aos="zoom-in">
      
             
              <div class="container justify-content-center">
      
                <!-- Three columns of text below the carousel -->
                <div class="row justify-content-center">
                  <div class="col order-1 ">
                    <img class="rounded-circle" src="https://i.imgur.com/a2SnTVb.png" alt="sdad" width="140" height="140">
                    <h4 style="text-align: justify; color: azure;">&nbsp Aislamiento <br>
                        &nbsp&nbsp&nbsp&nbsp&nbsptérmico</h2>
               
                  </div><!-- /.col-lg-4 -->
                  <div class="col order-2">
                    <img class="rounded-circle" src="https://i.imgur.com/Oudq71U.png" alt="sdad" width="140" height="140">
                    <h4 style="text-align: left; color: azure;">&nbsp&nbspAislamiento<br>&nbsp&nbsp&nbsp&nbspacústico</h2>
                  
                  </div><!-- /.col-lg-4 -->
                  <div class="col order-3">
                    <img class="rounded-circle" src="https://i.imgur.com/S8B18vM.png" alt="sdad" width="140" height="140">
                    <h4 style="text-align: left; color: azure;">Reducción de
                        <br>&nbsp&nbsp&nbsphumedad</h2>
        
                  </div><!-- /.col-lg-4 -->
      
                  <div class="col order-4">
                    <img class="rounded-circle" src="https://i.imgur.com/ilkQt58.png" alt="sdad" width="140" height="140">
                    <h4 style="text-align: left; color: azure;">&nbsp&nbsp&nbsp&nbsp&nbspMayor
                        <br>&nbsp&nbspresistencia</h2>
                  
                  </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
    
              </div>
      
      
            </div>
          </section> 

         
<section id="cta">
  <style>
		.title {
			
			font-weight: bold;
			margin-top: 20px;
			margin-bottom: -10%;
		}


		.center-image {
      display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 75vh;
		}

		.center-image img {
      max-height: 100%;
    max-width: 100%;
    width: 33em;
		}
	</style>
  <div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<h2 class="title left-title">CAMARA DE AIRE
          <img src="https://i.imgur.com/4Fkgh1a.png" alt="" style="position: absolute;
              bottom: -0.7em;
          left: 9em;
          width: 29%;">
           </h2>

         <h2 class="title left-title2"> VIDRIO A<br> ELECCION 
          <img src="https://i.imgur.com/5ioMaWy.png" alt="" style="    position: absolute;
          bottom:  0.1em;
          left: 8.4rem;
          width: 50%;">
        </h2>
        </div>
			<div class="col-sm-6">
				<h2 class="title right-title">
          <img src="https://i.imgur.com/lZFKRWK.png" style="position: absolute;
          width: 27%;
          right: 97%;
    bottom: -71%;" alt="">
          SEPARADOR TÉRMICO
          </h2>
          <h2 class="title right-title2">
          <img src="https://i.imgur.com/HxGg5cW.png" style="     position: absolute;
          width: 22%;
          right: 99%;
          bottom: -46%;" alt="">
          ESQUINAS CONTINUAS
          </h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 center-image">
				<img src="https://i.imgur.com/Afq4K4h.png" alt="Imagen centrada">
			</div>
		</div>
	</div>
</section>
  <section>

  
  <div class="container" id="abajo">
    <style>
      .image{
			float: left;
			margin-right: 20px;
			max-width: 200px;
			height: auto;
		}

		.texto {
			font-size: 18px;
			line-height: 1.5;
      font-weight: bold;
      color: gray;
		}
    </style>
    <img src="https://i.imgur.com/0FQSXbm.png" alt="Imagen a la izquierda" style="float: left;
    margin-right: 20px; width: 4em;">
    <strong><h2>Aislación</h2></strong>   
		<p class="texto"> Los DVH te proporcionan la mejor aislación ante ruidos molestos del exterior y evitan la ﬁltración térmica.</p>
    <br>
    <img src="https://i.imgur.com/HVVC5mv.png" alt="Imagen a la izquierda" style="float: left;
    margin-right: 20px; width: 4em;">
    <b><h2>Seguridad Ante Accidentes</h2></b>   
		<p class="texto">Los vidrios laminados evitan las astillas cortantes ante cualquier accidente, garantizando la seguridad de tu familia.</p>
    <br>
    <img src="https://i.imgur.com/lZFKRWK.png" alt="Imagen a la izquierda" style="float: left;
    margin-right: 20px; width: 4em;">
    <b><h2>Separadores</h2></b>   
		<p class="texto">Puede ser de espuma orgánica ﬂexible o de silicona, que proporciona un excelente aislamiento acústico y térmico.</p>
    <br><img src="https://i.imgur.com/vmBZLvB.png" alt="Imagen a la izquierda" style="float: left;
    margin-right: 20px; width: 4em;">
    <b><h2>Vapor De Humedad</h2></b>   
		<p class="texto">Un diseño único que actúa como barrera continua no metálica contra la humedad.</p>
    <br><img src="https://i.imgur.com/HxGg5cW.png" alt="Imagen a la izquierda" style="float: left;
    margin-right: 20px; width: 4em;">
    <b><h2>Esquinas Continuas</h2></b>   
		<p class="texto">Aumentando la vida útil de tus DVH hasta 20 años. Además su «borde cálido» asegura mayor aislación.</p>
	</div>
</section>
          


</div>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container ">
        <div class="row ">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Castellani</h3>
            <p>
              A4402 La Rioja 465 <br>
              Salta, Capital<br>
              Argentina <br><br>
              <strong>Phone:</strong> +54 0387 - 4234500<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Accesos rapidos</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Acerca de</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Otros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Chat Online</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Redes Sociales</h4>
            <p>Ser una Empresa lider, solida, confiable, con rentabilidad sostenida y en continuo crecimiento en el mercado que participamos
              que se distinga por proporcionar una calidad de productos y servicios de excelencia a sus clientes.
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="iso">
      <img src="https://i.imgur.com/bcH10xa.png" alt="" width="10%">
    </div>
    <div class="container footer-bottom clearfix">
      
      <div class="copyright">
        
        &copy; Copyright <strong><span>Castellani</span></strong>. All Rights Reserved
        &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        
        <button><a class="getstarted scrollto" href="/">Trabaja con Nosotros</a></button>
      </div>
      
      <div class="credits">
        Designed by <a href="https://wa.me/+5493874892669"><b style="    color: #ededede8;">Gianfranco</b></a>
      </div>
    </div>
  
  </footer>
  <!-- End Footer -->



    </main>


</body>
<!-- Vendor JS Files -->
<script src="css/aos/aos.js"></script>
<script src="css/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="css/glightbox/js/glightbox.min.js"></script>
<script src="css/isotope-layout/isotope.pkgd.min.js"></script>
<script src="css/swiper/swiper-bundle.min.js"></script>
<script src="css/waypoints/noframework.waypoints.js"></script>


<!-- Template Main JS File -->
<script src="js/main.js"></script>

</html>