<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Castellani | Home </title>
  <meta name="description" content="Web index Castellani Vidrios">
  <meta name="author" content="Castellani Vidrios">

  <!-- Favicons -->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="css/aos/aos.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="css/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="css/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="css/remixicon/remixicon.css" rel="stylesheet">
  <link href="css/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/stilosindex2.css" rel="stylesheet">


</head>

<body>

  <!-- ======= NAVBAR ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">Castellani</a></h1>
 
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#about">Nosotros</a></li>
          <li class="dropdown"><a href="/vidrios">Vidrios</a>
          <ul>
            <li><a href="/dvh">DVH</a></li>
          </ul>
          </li>

          <li class="dropdown"><a href="#">Perfileria</a>
          <ul>
            <li><a class="nav-link scrollto" href="/Aluminio">Aluminio</a></li>
            <li><a class="nav-link scrollto" href="/pvc">PVC</a></li>
         
          </ul>
          </li>
          <li><a class="nav-link scrollto" href="#portfolio">Obras</a></li>
          <li><a class="nav-link scrollto" href="/contacto">Contacto</a></li>
          <li><a class="getstarted scrollto" href="/login">Usuarios</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->

  <!-- ======= FOTOS COMIENZO Section ======= -->
  <section id="hero" class="d-flex align-items-center">


    <div id="slider">
      <figure>
        <img src="https://i.imgur.com/Gr2ztHk.jpg" alt="1">
        <img src="https://i.imgur.com/mRTQZWI.jpg" alt="2">
        <img src="https://i.imgur.com/A6V73gw.jpg" alt="3">
        <img src="https://i.imgur.com/8wscpFy.jpg" alt="4">
        <img src="https://i.imgur.com/EZUqEsj.jpg" alt="5">
      </figure>
    </div>


  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= SECCION ACERCA DE NOSOTROS ======= -->
    <hr size="9px" width="72%" color="red">
        <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>NOSOTROS</h2>
        </div>
        <p style="font-size: larger">
          Somos una empresa con más de 80 años de historia. Comenzamos siendo la primera vidriería de Salta, y con
          esfuerzo
          y perseverancia, nos especializamos en instalaciones de vidrios, carpintería de aluminio y aberturas de PVC.
        </p>
        <br>
      </div>
        </section> 


        <section id="about" class="about section-bg">
          <div class="container" data-aos="fade-up">
    
            <div class="row">
              <div class="col-lg-5 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                <img src="img/index2/why-us.png" id="mapa" style="animation: up-down 2s ease-in-out infinite alternate-reverse both;" class="img-fluid" alt="">
              </div>
              <div class="col-lg-5 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                <div class="section-title">
                  <h2><br><br>TRABAJAMOS EN TODO EL PAÍS </h2>
                <p class="fst-italic" style="font-size: larger;">
                  Nuestro éxito está relacionado con varios factores, ninguno aleatorio; el más destacable es nuestro
                  equipo de trabajo, desde el personal de obra, que en su gran mayoría está hace años, hasta nuestros
                  profesionales capacitados y con gran experiencia en el campo de la construcción. Juntos dan como
                  resultado un producto de excelencia.
                </p>
                </div>
                <div class="skills-content">
                  <br>
                  <h4><a href="#portfolio" class="btn-get-started scrollto text-center">[>] NUESTRAS OBRAS</a>
                  </h4>
                </div>
    
              </div>
            </div>
    
          </div>
        </section> 
        
        
        <hr size="9px" width="72%" >
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
    


        <div class="d-flex justify-content-center aos-init aos-animate">
          <ul class="mi-lista">
            <sup>+</sup>
            <div class="contador ocultar">
              <div class="contador_cantidad" data-cantidad-total="60000">
               <b>0</b>
              </div>
            </div>
            m2 de Vidrio<br> Instalados
          </ul>
          
          <ul class="mi-lista">
            <sup>+</sup>
            <div class="contador ocultar">
              <div class="contador_cantidad" data-cantidad-total="400000">
                0
              </div>
            </div>
            <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">m. lineales <br>de Aluminio </p>
          </ul>
          
          <ul class="mi-lista">
            <sup>+</sup>
            <div class="contador ocultar">
              <div class="contador_cantidad" data-cantidad-total="10000">
                0
              </div>
            </div>
            m. lineales <br>de PVC
          </ul>
          
          <ul class="mi-lista">
            <sup>+</sup>
            <div class="contador ocultar">
              <div class="contador_cantidad" data-cantidad-total="3000">
                0
              </div>
            </div>
            Proyectos <br> Terminados
          </ul>
            
        
        </ul>

    
      </div>
        </section>

    
        <section id="portfolio" class="portfolio about section-bg">
        <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>NUESTRO TRABAJO NOS DEFINE</h2>
          <p style="font-size: larger">Nos motiva brindar un servicio diferenciado. Tratamos siempre de que nuestros clientes sientan alivio y
            tranquilidad
            de que su proyecto será ejecutado con el detalle y cuidado que merece. Por todo esto, siempre administramos
            los recursos,
            tanto materiales como así también mano de obra.
          </p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          
         <li data-filter="*" class="filter-active"> <b style="color: gray; font-size: large;"> ALGUNOS PROYECTOS </b> <b style="color: #dc3545;font-size: large;">TERMINADOS</b> </li>
          <!-- <li data-filter=".filter-app">EDIFICIOS</li>
          <li data-filter=".filter-card">PARTICULARES</li>
          <li data-filter=".filter-web">ESPECIALES</li> -->
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img">
              <img src="https://i.imgur.com/HDdPSR8.jpg" class="img-fluid" alt="">
            </div>
            <div class="portfolio-info">
              <h4>AEROPUERTO</h4>
              <p>San Carlos de Bariloche | Rio Negro </p>
              <a href="https://i.imgur.com/HDdPSR8.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox preview-link" title="Aeropuerto | Bariloche"><iconify-icon icon="line-md:image-twotone" width="30" height="30"></iconify-icon></a>
               </div>
          </div>
       
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img">
              <img src="https://i.imgur.com/coDzDuR.jpg" class="img-fluid" alt="">
            </div>
            <div class="portfolio-info">
              <h4>EL PUNTO</h4>
              <p>San Lorenzo | Salta</p>
              <a href="https://i.imgur.com/coDzDuR.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox preview-link" title="EL PUNTO | SAN LORENZO CHICO"><iconify-icon icon="line-md:image-twotone" width="30" height="30"></iconify-icon></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img">
              <img src="https://i.imgur.com/R2YcIfv.jpg" class="img-fluid" alt="">
            </div>
            <div class="portfolio-info">
              <h4>MOOI</h4>
              <p>Mooi | Salta</p>
              <a href="https://i.imgur.com/R2YcIfv.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox preview-link" title="ALTO NOA | MOI"><iconify-icon icon="line-md:image-twotone" width="30" height="30"></iconify-icon></a>
            </div>
          </div>

          <!--3 Edificio Vicente Lopez -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img">
              <img src="https://i.imgur.com/BDpglQu.jpg" class="img-fluid" alt="">
            </div>
            <div class="portfolio-info">
              <h4>SENDAS</h4>
              <p>SENDAS | Salta</p>
              <a href="https://i.imgur.com/BDpglQu.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox preview-link" title="SENDAS |  SALTA"><iconify-icon icon="line-md:image-twotone" width="30" height="30"></iconify-icon></a>
            </div>
          </div>

          <!--3 Edificio Vicente Lopez -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
    <div class="portfolio-img">
      <img src="https://i.imgur.com/V9jqQj1.jpg" class="img-fluid" alt="">
    </div>
    <div class="portfolio-info">
      <h4>EDIFICIO VICENTE LOPEZ</h4>
      <p>Edificio Vicente Lopez | Salta</p>
      <a href="https://i.imgur.com/V9jqQj1.jpg" data-gallery="portfolioGallery"
        class="portfolio-lightbox preview-link" title="Edificio | SALTA"><iconify-icon icon="line-md:image-twotone" width="30" height="30"></iconify-icon></a>
      
    </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-img">
          <img src="https://i.imgur.com/1ZXipRv.jpg" class="img-fluid" alt="">
          </div>
          <div class="portfolio-info">
          <h4>USINA CULTURAL</h4>
          <p>Usina Cultural - Salta</p>
          <a href="https://i.imgur.com/1ZXipRv.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="USINA Cultural | SALTA"><iconify-icon icon="line-md:image-twotone" width="30" height="30"></iconify-icon></a>
  </div>
</div>
<!-- FIN -->
<!-- SAN LO -->
<div class="col-lg-4 col-md-6 portfolio-item filter-card">
  <div class="portfolio-img"><img src="https://i.imgur.com/679mzHS.jpg" class="img-fluid" alt="">
  </div>
  <div class="portfolio-info">
    <h4>OBRA CARACCIO</h4>
    <p>Praderas del Bosque | Salta</p>
    <a href="https://i.imgur.com/679mzHS.jpg" data-gallery="portfolioGallery"
      class="portfolio-lightbox preview-link" title="Praderas del Bosque | Salta"><iconify-icon icon="line-md:image-twotone" width="30" height="30"></iconify-icon></a>
  </div>
</div>

<!-- 2 -->
<div class="col-lg-4 col-md-6 portfolio-item filter-card">
  <div class="portfolio-img"><img src="https://i.imgur.com/Cf08v0E.jpg" class="img-fluid" alt="">
  </div>
  <div class="portfolio-info">
    <h4>CASA PARTICULAR</h4>
    <p>Casa | Salta</p>
    <a href="https://i.imgur.com/Cf08v0E.jpg" data-gallery="portfolioGallery"
      class="portfolio-lightbox preview-link" title="CASA PARTICULAR | Salta"><iconify-icon icon="line-md:image-twotone" width="30" height="30"></iconify-icon></a>
  </div>
</div>
<!-- INICIO CASA -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
  <div class="portfolio-img">
    <img src="https://i.imgur.com/fpLCfqq.jpg" class="img-fluid" alt="">
  </div>
  <div class="portfolio-info">
    <h4>TORRES BALCARCE</h4>
    <p>Balcarce | Salta</p>
    <a href="https://i.imgur.com/fpLCfqq.jpg" data-gallery="portfolioGallery"
      class="portfolio-lightbox preview-link" title="TORRES BALCARCE | Salta"><iconify-icon icon="line-md:image-twotone" width="30" height="30"></iconify-icon></a>
  </div>
      </div>

         </div>
        </section>
        <section id="clients" class="clients">
      <div class="container">
        <div class="section-title">
          <h2>NUESTROS PROVEEDORES</h2>
        </div>
        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="img/index2/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="img/index2/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="img/index2/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="img/index2/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="img/index2/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="img/index2/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
        </section>
   
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container ">
        <div class="row ">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Castellani</h3>
            <p>
              A4402 La Rioja 465 <br>
              Salta, Capital<br>
              Argentina <br><br>
              <strong>Phone:</strong> +54 0387 - 4234500<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Accesos rapidos</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Acerca de</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Otros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Chat Online</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Redes Sociales</h4>
            <p>Ser una Empresa lider, solida, confiable, con rentabilidad sostenida y en continuo crecimiento en el mercado que participamos
              que se distinga por proporcionar una calidad de productos y servicios de excelencia a sus clientes.
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
   
    
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; Copyright <strong><span>Castellani</span></strong>. All Rights Reserved
        &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        
        <button><a class="getstarted scrollto" href="/">Trabaja con Nosotros</a></button>
      </div>
      
      <div class="credits">
        Designed by <a href="https://wa.me/+5493874892669"><b style="    color: #ededede8;">Gianfranco</b></a>
      </div>
    </div>
  
  </footer>
  <!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="css/aos/aos.js"></script>
  <script src="css/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="css/glightbox/js/glightbox.min.js"></script>
  <script src="css/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="css/swiper/swiper-bundle.min.js"></script>
  <script src="css/waypoints/noframework.waypoints.js"></script>
  <script src="css/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>
<!-- Scrip para el conteo -->
<script>
  addEventListener('DOMContentLoaded', () => {
    const contadores = document.querySelectorAll('.contador_cantidad');
    const velocidad = 1000;
    

    const animarContadores = () => {
      for (const contador of contadores) {
        const actualizar_contador = () => {
          let cantidad_maxima = +contador.dataset.cantidadTotal,
            valor_actual = +contador.innerText,
            incremento = cantidad_maxima / velocidad;
          if (valor_actual < cantidad_maxima) {
            contador.innerText = Math.ceil(valor_actual + incremento)
            setTimeout((actualizar_contador), 5);
          } else {
            contador.innerText = cantidad_maxima;

          }
        }
        actualizar_contador();
      }
    }

    const mostrarContadores = elementos => {
      elementos.forEach(element => {
        if (element.isIntersecting) {
          element.target.classList.add('animar');
          element.target.classList.remove('ocultar');
          setTimeout(animarContadores, 300)
        }
      });
    }

    const observer = new IntersectionObserver(mostrarContadores, {
      threshold: 0.75 //0 - 1 
    })

    const elementosHTML = document.querySelectorAll('.contador')
    elementosHTML.forEach(elementoHTML => {
      observer.observe(elementoHTML)
    })

  })
</script>
<!-- scrip iconos -->
<script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>
</html>