<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Castellani | Home </title>
  <meta name="description" content="Web index Castellani Vidrios">
  <meta name="author" content="Castellani Vidrios">

  <!-- Favicons -->
  <link rel="icon" type="image/png" sizes="16x16"  href="img/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="css/aos/aos.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="css/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="css/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="css/remixicon/remixicon.css" rel="stylesheet">
  <link href="css/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/stilosindex2.css" rel="stylesheet">


</head>

<body>

<!--- Slider Indicators --->
<div id="carousel-HomeJumbotron" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel-HomeJumbotron" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
    <button type="button" data-bs-target="#carousel-HomeJumbotron" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
    <button type="button" data-bs-target="#carousel-HomeJumbotron" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    <button type="button" data-bs-target="#carousel-HomeJumbotron" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
  </div>
  <!--- Carousel Inner --->
  <div class="carousel-inner">
    <!--- Slide One --->
    <div class="carousel-item slide-one-image active" role="img" aria-label="adorable photo of a squirrel">
      <div class="carousel-item-bg"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="home-hero-header">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--- End of Slide One--->
    <!--- Slide Two --->
    <div class="carousel-item slide-two-image" role="img" aria-label="photo of the woods">
      <div class="carousel-item-bg"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="home-hero-header">
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--- End of Slide Two--->
    <!--- Slide Three --->
    <div class="carousel-item slide-three-image" role="img" aria-label="photo of a pond">
      <div class="carousel-item-bg"></div>
      <div class="container">
        <!-- <div class="row">
          <div class="col-md-6">
            <div class="home-hero-header">
             
            </div>
          </div>
        </div> -->
      </div>
    </div>
<!-- SLIDE 4 -->
<div class="carousel-item slide-four-image" role="img" aria-label="photo of a pond2">
  <div class="carousel-item-bg"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="home-hero-header">
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END 4 -->

  </div>
  <!--- End of Slide Three--->
  <!--- End of Carousel Inner --->
</div>
<!--- Left and Right Slide Buttons--->
<button class="carousel-control-prev" type="button" data-bs-target="#carousel-HomeJumbotron" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carousel-HomeJumbotron" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>

<style>


.slide-one-image {
  background-image: url("https://i.imgur.com/hU0itKj.jpg"); 
  background-position: top center;
}

.slide-two-image {
  background-image: url("https://i.imgur.com/blZsudc.png");
  background-position: top center;
}

.slide-three-image {
  background-image: url("https://i.imgur.com/XIgZW4J.png");
  background-position: top center;
  
}
.slide-four-image{
  background-image: url("https://i.imgur.com/2IxWbGF.jpg");
  background-position: top center;
}

.home-hero-header { 
  color: #fff;
  padding: 30px 30px;
  margin-top: 65vh;
  margin-left: 5vw;
}

.home-hero-header .btn {
  position: relative;
  bottom: -5px;
}

.carousel-item {
  background-size: cover;
  height: 100vh;
  z-index: -1;
  position: relative;
}

.carousel .container {
  z-index: 9999;
  position: relative;
}

.carousel-item-bg {

}

.home-hero-header p {
  font-weight: 500;
  font-size: 1.4rem;
}

.carousel-item-bg img {
  width: 100% !important;
  height: auto !important;
  opacity: 0.5;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 70vh;
}
.carousel-control-next,
.carousel-control-prev {
  top: 0;
}

nav + .carousel {
  top: -60px;
  margin-bottom: -60px;
}

.carousel-item .container img {
  margin: auto 10px;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 100% !important;
  height: auto !important;
  max-width: 60%;
}
/* Mobile Slider */
@media (max-width: 768px) {
  .carousel-item {
    height: 100vh;
  }

  .carousel-inner {
    height: 100vh;
  }
  .home-hero-header {
    background-color: #031531;
    color: #fff;
    padding: 3vh 3vw;
    margin-top: 60vh !important;
    margin-left: 0vw;
  }
  .carousel-control-next,
  .carousel-control-prev {
    bottom: 350px;
  }
  .home-hero-header p {
    font-weight: 500;
    font-size: 1.4rem;
  }
  .carousel-control-next,
  .carousel-control-prev {
    top: 40vh;
  }
}
/* Large Screen Slider */
@media (min-width: 1700px) {
  .carousel-item {
    width: 80vw;
    margin: 0 auto;
  }
  .carousel-inner {
    width: 80vw;
    margin: 0 auto;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 25%;
  }
}
</style>

 


  <!-- ======= NAVBAR ======= -->
  <header id="header" class="fixed-top" >
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">Castellani</a></h1>
 
      <nav id="navbar" class="navbar">
   
        <ul>
         
          <li><a class="nav-link scrollto" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#about">Nosotros</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Obras</a></li>
          <li class="dropdown"><a href="/vidrios">Vidrios</a>
          <ul>
            <li><a href="/vidrios">Distribucion VASA</a></li>
            <li><a href="/dvh">DVH Climanet</a></li>
          </ul>
          </li>

          <li class="dropdown"><a href="/Aluminio">Perfileria</a>
          <ul>
            <li><a class="nav-link scrollto" href="/Aluminio">Aluminio</a></li>
            <li><a class="nav-link scrollto" href="/pvc">PVC</a></li>
         
          </ul>
          </li>
          
          <li><a class="nav-link scrollto" href="/contacto">Contacto</a></li>
          <li><a class="getstarted scrollto" href="/login">Usuarios</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->

  <!-- ======= FOTOS COMIENZO Section ======= -->
  <!-- <section id="hero" class="d-flex align-items-center">


    <div id="slider">
      <figure>
        <img src="https://i.imgur.com/1nrDvGD.png" alt="1">
        <img src="https://i.imgur.com/DsQ8QmS.png" alt="2">
        <img src="https://i.imgur.com/6oy4I0G.png" alt="3">
        <img src="https://i.imgur.com/rv3hfyw.png" alt="4">
        <img src="https://i.imgur.com/xaOD9rX.png" alt="5">
      </figure>
    </div>


  </section> -->
  <!-- End Hero -->

  <main id="main">


    <!-- ======= SECCION ACERCA DE NOSOTROS ======= -->
    <hr size="9px" width="72%" color="red">
        <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>NOSOTROS</h2>
        </div>
        <p style="font-size: larger">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nuestra historia como empresa comenzó hace más de 80 años siendo la primera vidriería de Salta, de a poco y con
          esfuerzo nos convertimos en más que una vidriería. Fuimos integrando productos, manteniendo siempre nuestro estándar de
          calidad para llegar a especializarnos en instalaciones de vidrios, carpintería de aluminio y aberturas de PVC.
        </p>
        <br>
        
      </div>
<div class="section-title" data-aos="fade-up">

  <div class="container" data-aos="fade-up">
    <div class="row"style="
    margin-bottom: 2em;" >
      <div class="col">
        <h2 id="subnos" style="color: gray;font-size: x-large;">Misión</h2>
        <p style="text-align: justify;">Estamos comprometidos en brindar
          soluciones, a través de nuestros
          productos innovadores y servicios de
          calidad, adaptados a cada necesidad.</p>
      </div>
      <div class="col">
        <h2 id="subnos" style="color: gray;font-size: x-large;">Visión</h2>
        <p style="text-align: justify;">“Ser la mejor opción y superar las
          expectativas de nuestros clientes”</p>
      </div>
      <div class="col">
        <h2 id="subnos" style="color: gray;font-size: x-large;">Valores</h2>
        <p style="text-align: justify;">Nuestra filosofía define lo que somos,
          nuestros principios éticos y profesionales
          que evidencian nuestra identidad
          como empresa, son...</p>
      </div>
    </div>
  </div>
</div>


<div class="container" data-aos="fade-up">
  <div class="row">
    <div class="col my-custom-class" data-aos="fade-right">
      <img src="https://i.imgur.com/FFDDmm4.png" width="76px" alt="PROXIMIDAD">
      <h2 id="subnos" style="color: gray;font-size: x-large;margin-bottom: 1.1em;">PROXIMIDAD</h2>
      <p style="text-align: justify;">La cercanía es nuestro valor diferencial. Nuestros clientes y equipo son familia; sus necesidades son nuestra prioridad, por lo que nos esforzamos en estar cerca, en ser la solución a lo que necesitan.</p>
    </div>
    <div class="col my-custom-class" data-aos="fade-up">
      <img src="https://i.imgur.com/QXwxwrG.png"  width="76px"  alt="RESPETO">
      <h2 id="subnos" style="color: gray;font-size: x-large;margin-bottom: 1.1em;">RESPETO</h2>
      <p style="text-align: justify;">Creemos que las relaciones humanas hacen a nuestra organización, es por ello que elegimos el respeto como base, para conectar con un otro.</p>
    </div>
    <div class="col my-custom-class" data-aos="fade-up">
      <img src="https://i.imgur.com/HgGxKqn.png"  width="76px"  alt="HONESTIDAD">
      <h2 id="subnos" style="color: gray;font-size: x-large;margin-bottom: 1.1em;">HONESTIDAD</h2>
      <p style="text-align: justify;">Este valor nos acompaña desde nuestros comienzos y sostenemos que es la mejor manera de cultivar lazos duraderos.</p>
    </div>
    <div class="col my-custom-class" data-aos="fade-left">
      <img src="https://i.imgur.com/m1la5D9.png" width="76px"  alt="COMPROMISO">
      <h2 id="subnos" style="color: gray;font-size: x-large;margin-bottom: 1.1em;">COMPROMISO</h2>
      <p style="text-align: justify;">Entendemos que la manera de trabajar es a través del compromiso real. Buscamos involucrarnos en cada proceso y así brindar la mejor experiencia a nuestros clientes.</p>
    </div>
  </div>
</div>




<!-- <style>
  /* Estilos para el contenedor */
.container #top {
  margin-top: 50px;
}

/* Estilos para las columnas */
.col #top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilos para las imágenes */
img #top{
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 10px;  
}

/* Estilos para los títulos */
h3 #top {
  font-size: 24px;
  margin-bottom: 5px;
}

/* Estilos para los subtítulos */
p #top {
  font-size: 16px;
}

</style> -->
        </section> 


        <section id="about" class="about section-bg1">
          <div class="container" data-aos="fade-up">
    
            <div class="row">
              <div class="col-lg-5 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                <img src="img/index2/why-us.png" id="mapa"  class="img-fluid" alt="">
              </div>
              <div class="col-lg-5 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                <div class="section-title">
                  <h2>TRABAJAMOS EN TODO EL PAÍS </h2>
                <p class="fst-italic" style="font-size: larger;">
                  Nuestro éxito está relacionado con varios factores, ninguno aleatorio; el más destacable es nuestro
                  equipo de trabajo, desde el personal de obra, que en su gran mayoría está hace años, hasta nuestros
                  profesionales capacitados y con gran experiencia en el campo de la construcción. Juntos dan como
                  resultado un producto de excelencia.
                </p>
                </div>
                <div class="skills-content">
                  <br>
                  <h4><a href="#portfolio" class="btn-get-started scrollto text-center">[>] NUESTRAS OBRAS</a>
                  </h4>
                </div>
    
              </div>
            </div>
    
          </div>
        </section> 
        
        
        <hr size="9px" width="72%" >
        <section id="about" class="about" style="    padding-top: 50px;">
          <div class="container" data-aos="fade-up">
    



        <div class="d-flex justify-content-center aos-init aos-animate">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="counter">
                  <img class="simbolomas1" src="https://i.imgur.com/gy8gXie.png" alt="">
                <span class="count" data-count="60000">0</span>
                  <span class="count-label">
                   <h3> M2 de Vidrio
                   <br> Instalados</h3>
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="counter">
                  <img class="simbolomas1" src="https://i.imgur.com/gy8gXie.png" alt="">
                  <span class="count" data-count="400000">0</span>
                  <span class="count-label">
                    <h3>Metros lineales <br> Aluminio procesado </h3>
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="counter">
                  <img class="simbolomas1" src="https://i.imgur.com/gy8gXie.png" alt="">
                  <span class="count" data-count="100000">0</span>
                  <span class="count-label">
                    <h3>Metros lineales <br> PVC procesado</h3>
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="counter">
                  <img class="simbolomas1" src="https://i.imgur.com/gy8gXie.png" alt="">
                  <span class="count" data-count="3000">0</span>
                  <span class="count-label">
                   <h3> Proyectos <br> Terminados</h3>
                  </span>
                </div>
              </div>
            </div>
          </div>
          
    
      </div>
        </section>

    
        <section id="portfolio" class="portfolio about section-bg">
        <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>NUESTRO TRABAJO NOS DEFINE</h2>
          <p style="font-size: larger">Nos motiva brindar un servicio diferenciado. Tratamos siempre de que nuestros clientes sientan alivio y
            tranquilidad
            de que su proyecto será ejecutado con el detalle y cuidado que merece. Por todo esto, siempre administramos
            los recursos,
            tanto materiales como así también mano de obra.
          </p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          
         <li data-filter="*" class="filter-active"> <b style="color: gray; font-size: large;"> ALGUNOS PROYECTOS </b> <b style="color: #dc3545;font-size: large;">TERMINADOS</b> </li>
          <!-- <li data-filter=".filter-app">EDIFICIOS</li>
          <li data-filter=".filter-card">PARTICULARES</li>
          <li data-filter=".filter-web">ESPECIALES</li> -->
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img">
             
             <a href="https://i.imgur.com/HDdPSR8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Aeropuerto | Bariloche"> <img src="https://i.imgur.com/HDdPSR8.jpg" class="img-fluid" alt=""></a>

            </div>
            <div class="portfolio-info">
              <h4>AEROPUERTO</h4>
              <p>San Carlos de Bariloche | Rio Negro </p>
               </div>
          </div>
       
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img">
               <a href="https://i.imgur.com/coDzDuR.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox preview-link" title="EL PUNTO | SAN LORENZO CHICO">
                <img src="https://i.imgur.com/coDzDuR.jpg" class="img-fluid" alt="">
               </a>
            </div>
            <div class="portfolio-info">
              <h4>EL PUNTO</h4>
              <p>San Lorenzo | Salta</p>
        
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img">
              <a href="https://i.imgur.com/R2YcIfv.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="ALTO NOA | MOI">
                <img src="https://i.imgur.com/R2YcIfv.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="portfolio-info">
              <h4>MOOI</h4>
              <p>Mooi | Salta</p>
            </div>
          </div>

          <!--3 Edificio Vicente Lopez -->
          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img">
              <img src="https://i.imgur.com/BDpglQu.jpg" class="img-fluid" alt="">
            </div>
            <div class="portfolio-info">
              <h4>SENDAS</h4>
              <p>SENDAS | Salta</p>
              <a href="https://i.imgur.com/BDpglQu.jpg" data-gallery="portfolioGallery"
                class="portfolio-lightbox preview-link" title="SENDAS |  SALTA"><iconify-icon icon="line-md:image-twotone" width="30" height="30"></iconify-icon></a>
            </div>
          </div> -->

          <!--3 Edificio Vicente Lopez -->
            <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <div class="portfolio-img">
        <img src="https://i.imgur.com/V9jqQj1.jpg" class="img-fluid" alt="">
      </div>
      <div class="portfolio-info">
        <h4>EDIFICIO VICENTE LOPEZ</h4>
        <p>Edificio Vicente Lopez | Salta</p>
        <a href="https://i.imgur.com/V9jqQj1.jpg" data-gallery="portfolioGallery"
          class="portfolio-lightbox preview-link" title="Edificio | SALTA"><iconify-icon icon="line-md:image-twotone" width="30" height="30"></iconify-icon></a>
        
      </div>
            </div> -->

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-img">
            <a href="https://i.imgur.com/1ZXipRv.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="USINA Cultural | SALTA">
          <img src="https://i.imgur.com/1ZXipRv.jpg" class="img-fluid" alt="">
            </a>
          </div>
          <div class="portfolio-info">
          <h4>USINA CULTURAL</h4>
          <p>Usina Cultural | Salta</p>
       
  </div>
</div>
<!-- FIN -->

<div class="col-lg-4 col-md-6 portfolio-item filter-card">
  <div class="portfolio-img">
    <a href="https://i.imgur.com/679mzHS.jpg" data-gallery="portfolioGallery"
    class="portfolio-lightbox preview-link" title="Praderas del Bosque | Salta">
    <img src="https://i.imgur.com/679mzHS.jpg" class="img-fluid" alt="">
  </a>
  </div>
  <div class="portfolio-info">
    <h4>OBRA PRADERAS</h4>
    <p>Praderas del Bosque | Salta</p>
  
  </div>
</div>

<!-- 2 -->
<div class="col-lg-4 col-md-6 portfolio-item filter-card">
  <div class="portfolio-img">
    <a href="https://i.imgur.com/Cf08v0E.jpg" data-gallery="portfolioGallery"
    class="portfolio-lightbox preview-link" title="CASA PARTICULAR | Salta">
    <img src="https://i.imgur.com/Cf08v0E.jpg" class="img-fluid" alt="">
    </a>
  </div>
  <div class="portfolio-info">
    <h4>CASA PARTICULAR</h4>
    <p>Casa | Salta</p>
 
  </div>
</div>
<!-- torres -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
  <div class="portfolio-img">
    <a href="https://i.imgur.com/fpLCfqq.jpg" data-gallery="portfolioGallery"
    class="portfolio-lightbox preview-link" title="TORRES BALCARCE | Salta">
    <img src="https://i.imgur.com/fpLCfqq.jpg" class="img-fluid" alt="">
    </a>
  </div>
  <div class="portfolio-info">
    <h4>TORRES BALCARCE</h4>
    <p>Balcarce | Salta</p>
 
  </div>
      </div>

         </div>
        </section>
        <section id="clients" class="clients">
         
            <div class="container">
              <div class="section-title">
              <h2>NUESTROS PROVEEDORES</h2>
              </div>
              <div class="row" data-aos="zoom-in">
          
                <div class="col-lg-2 col-md-4 col-4 d-flex align-items-center justify-content-center">
                  <img src="img/index2/clients/client-1.png" class="client-img1" style="width: 53px;"  alt="Proveedor 1">
                </div>
          
                <div class="col-lg-2 col-md-4 col-4 d-flex align-items-center justify-content-center">
                  <img src="img/index2/clients/client-2.png"  alt="Proveedor 2">
                </div>
          
                <div class="col-lg-2 col-md-4 col-4 d-flex align-items-center justify-content-center">
                  <img src="img/index2/clients/client-3.png"  alt="Proveedor 3">
                </div>
          
                <div class="col-lg-2 col-md-4 col-4 d-flex align-items-center justify-content-center">
                  <img src="img/index2/clients/client-4.png"  alt="Proveedor 4">
                </div>
          
                <div class="col-lg-2 col-md-4 col-4 d-flex align-items-center justify-content-center">
                  <img src="img/index2/clients/client-5.png"  alt="Proveedor 5">
                </div>
          
                <div class="col-lg-2 col-md-4 col-4 d-flex align-items-center justify-content-center">
                  <img src="img/index2/clients/client-6.png" class="client-img"  alt="Proveedor 6">
                </div>
          
              </div>
            </div>
          </section>
          
    
  
        
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container ">
        <div class="row ">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Castellani</h3>
            <p>
              A4402 La Rioja 465 <br>
              Salta, Capital<br>
              Argentina <br><br>
              <strong>Phone:</strong> +54 0387 - 4234500<br>
           
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Accesos rapidos</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Acerca de</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Otros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/reparacion">Chat Online</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Redes Sociales</h4>
            <p>Ser una Empresa lider, solida, confiable, con rentabilidad sostenida y en continuo crecimiento en el mercado que participamos
              que se distinga por proporcionar una calidad de productos y servicios de excelencia a sus clientes.
            </p>
            <div class="social-links mt-3">
              <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
              <a href="https://web.facebook.com/castellaniaberturasyvidrios" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/castellaniaberturasyvidrios/" class="instagram"><i class="bx bxl-instagram"></i></a>
              <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="iso">
      <img src="https://i.imgur.com/bcH10xa.png" alt="" width="10%">
    </div>
    <div class="container footer-bottom clearfix">
      
      <div class="copyright">
        
        &copy; Copyright <strong><span>Castellani</span></strong>. All Rights Reserved
        &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        
        <button class="getstarted scrollto" onclick="location.href='/trabaja';">Trabaja con Nosotros</button>

      </div>
      
      <div class="credits">
        Designed by <a href="https://wa.me/+5493874892669"><b style="    color: #ededede8;">Gianfranco</b></a>
      </div>
    </div>
  
  </footer>
  <!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="css/aos/aos.js"></script>
  <script src="css/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="css/glightbox/js/glightbox.min.js"></script>
  <script src="css/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="css/swiper/swiper-bundle.min.js"></script>
  <script src="css/waypoints/noframework.waypoints.js"></script>
  
 

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>
  <script src="js/jquery.js"></script>

	

</body>
<!-- Scrip para el conteo -->
<script>
 
// Contador
   // Función para animar el contador
   function countUp(element) {
    // Obtener el valor final del contador
    var end = parseInt(element.getAttribute('data-count'));
    // Duración de la animación (en segundos)
    var duration = 5;
    // Valor inicial del contador
    var start = 0;
    // Incremento por cuadro
    var increment = (end - start) / (duration * 60);
    // Contador de tiempo
    var timer = setInterval(function() {
      // Calcular el valor actual del contador
      start += increment;
      // Redondear al número entero más cercano
      var currentCount = Math.round(start);
      // Separar las cifras de tres en tres
      var parts = currentCount.toString().split(".");
      parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g,".");
      // Actualizar el valor del contador en la pantalla
      element.innerHTML = parts.join(".");
      // Detener la animación cuando se alcanza el valor final
      if (currentCount >= end) {
        element.innerHTML = end.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        clearInterval(timer);
      }
    }, 16.7); // 60 cuadros por segundo
  }
  
  // Obtener el elemento del contador
  var countElements = document.querySelectorAll('.count');

// Iniciar la animación de cada contador
countElements.forEach(function(element) {
  countUp(element);
});
//   const counters = document.querySelectorAll('.counter');
// const speed = 50; // La velocidad del contador

// counters.forEach(counter => {
//     const updateCount = () => {
//         const target = +counter.getAttribute('data-target');
//         const count = +counter.innerText;
//         const increment = target / speed;

//         if (count < target) {
//             counter.innerText = `+${Math.ceil(count + increment)}`;
//             setTimeout(updateCount, 10);
//         } else {
//             counter.innerText = `+${target}`;
//         }
//     };

//     updateCount();
// });



</script>

 

<!-- scrip iconos -->
<script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>
</html>