<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Castellani | Vidrios</title>
    <meta name="description" content="Web index Castellani Vidrios">
  <meta name="author" content="Castellani Vidrios">
  <!-- Favicons -->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="css/aos/aos.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="css/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="css/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="css/remixicon/remixicon.css" rel="stylesheet">
  <link href="css/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/stilosindex2.css" rel="stylesheet">

</head>
<body>

  <!-- ======= NAVBAR ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">Castellani</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Inicio</a></li>
          <li><a class="nav-link scrollto" href="/">Nosotros</a></li>
          <li class="dropdown"><a class="nav-link scrollto active" href="/vidrios">Vidrios</a>
            <ul>
              <li><a href="/dvh">DVH</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="">Perfileria</a>
            <ul>
              <li><a class="nav-link scrollto" href="/Aluminio">Aluminio</a></li>
              <li><a class="nav-link scrollto" href="/Pvc">PVC</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/">Obras</a></li>
          <li><a class="nav-link scrollto" href="/contacto">Contacto</a></li>
          <li><a class="getstarted scrollto" href="/login">Usuarios</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
  <!-- ======= FIN NAVBAR ======= -->
  <main id="main">
    <section id="hero" class="d-flex align-items-center">


        <div class="imagenV">
          <img src="https://s3.amazonaws.com/halaxia-backend-production-storage/environments/78/backgrounds/167e6704539dc7f42351837fcf1bc37e.jpeg"
            alt="Banner">
        </div>
        <img class="image4" src=".\img\index2\clients\client-4.png" width="20%" alt="VASA">
    
    </section>
  <!-- Seccion Vidrios -->
    <hr size="9px" width="72%" color="red">
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>VIDRIOS</h2>
        </div>
        <p style="font-size: larger">
            La Seguridad y protección, el ahorro de energía, el control de ruidos y hasta el acabado estético son aspectos cada vez
            más importantes en los programas de necesidades de nuestros clientes. El objetivo de nuestra empresa es brindar productos
            confiables para dichos requerimientos, éstos son fabricados en el país por VASA (Vidriería Argentina S.A.) y distribuídos por
            nosotros a lo largo de todo el país.
        </p>
        <br>
      </div>
    </section> 

    
    <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img src="https://i.imgur.com/IYtVsyl.jpg" class="img-fluid">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img src="https://i.imgur.com/I7GACeq.jpg" class="img-fluid">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img src="https://i.imgur.com/MCjP2Lx.jpg" class="img-fluid">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <img src="https://i.imgur.com/RwQGT3Z.jpg" class="img-fluid">
          </div>
        </div>
      
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="https://i.imgur.com/VyvzceU.jpg" style="width: 70%;
            margin-left: 10em;" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="https://i.imgur.com/Z7R8nvh.jpg" style="width: 70%;
            margin-left: 3em;" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="https://i.imgur.com/uADU3xL.jpg" style="width: 70%;
            margin-left: -4em; " class="img-fluid">
          </div>
        </div>   
      </div>
      




      <section id="hero" class="d-flex align-items-center">
        <div class="banner container-fluid">
            <img class="imagenbanner img-fluid" src="./img/index2/vidrios.JPG" alt="Imagen Vidrio">
          </div>

      </section>
<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container ">
        <div class="row ">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Castellani</h3>
            <p>
              A4402 La Rioja 465 <br>
              Salta, Capital<br>
              Argentina <br><br>
              <strong>Phone:</strong> +54 0387 - 4234500<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Accesos rapidos</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Acerca de</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Otros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Chat Online</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Redes Sociales</h4>
            <p>Ser una Empresa lider, solida, confiable, con rentabilidad sostenida y en continuo crecimiento en el mercado que participamos
              que se distinga por proporcionar una calidad de productos y servicios de excelencia a sus clientes.
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
   
    
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; Copyright <strong><span>Castellani</span></strong>. All Rights Reserved
        &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        
        <button><a class="getstarted scrollto" href="/">Trabaja con Nosotros</a></button>
      </div>
      
      <div class="credits">
        Designed by <a href="https://wa.me/+5493874892669"><b style="    color: #ededede8;">Gianfranco</b></a>
      </div>
    </div>
  
  </footer>


  </main>

</body>
  <!-- Vendor JS Files -->
  <script src="css/aos/aos.js"></script>
  <script src="css/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="css/glightbox/js/glightbox.min.js"></script>
  <script src="css/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="css/swiper/swiper-bundle.min.js"></script>
  <script src="css/waypoints/noframework.waypoints.js"></script>
  <script src="css/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>
</html>